################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Design
/Resources
/Web_Html_XJL_20160618.rar
/Web_Html_XJL_20160619.rar
/Web_Html_XJL_20160619_2.rar
/Web_Html_XJL_20160619_3.rar
