/*通用*/
body { padding:0px; margin:0px; border:0px; font-family:微软雅黑; font-size:14px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
.clear { clear:both; width:0px; height:0px;}
.main { width:1000px; margin:auto; overflow:hidden; }
button {cursor:pointer;}
.authorName { font-style:italic;}
.fixCenter {width:1000px; margin:auto;}

/*超链接*/
a.blackHref:link {text-decoration : none ;color : #000; }
a.blackHref:visited {text-decoration : none ;color : #000;}
a.blackHref:hover {text-decoration : none ;color : #FFF;}
a.blackHref:active {text-decoration : none ;color : #FFF;}

a.blackHref2:link {text-decoration : none ;color : #000; }
a.blackHref2:visited {text-decoration : none ;color : #000;}
a.blackHref2:hover {text-decoration : none ;color : #888;}
a.blackHref2:active {text-decoration : none ;color : #888;}

a.whiteHref:link {text-decoration : none ;color : #fff; }
a.whiteHref:visited {text-decoration : none ;color : #fff;}
a.whiteHref:hover {text-decoration : none ;color : #fff;}
a.whiteHref:active {text-decoration : none ;color : #fff;}

a.grayHref:link {text-decoration : none ;color : #909390; }
a.grayHref:visited {text-decoration : none ;color : #909390;}
a.grayHref:hover {text-decoration : none ;color : #fff;}
a.grayHref:active {text-decoration : none ;color : #909390;}

a.grayHref2:link {text-decoration : none ;color : #909390; }
a.grayHref2:visited {text-decoration : none ;color : #909390;}
a.grayHref2:hover {text-decoration : none ;color : #000;}
a.grayHref2:active {text-decoration : none ;color : #909390;}

/*Top Banner*/
.topBar { background-color:#888888; height:50px; }
.logo1 { float:left; margin-left:60px; margin-top:5px; }
.fudan { float:left; margin-left:10px; margin-top:15px; width:221px; height:23px; overflow:hidden; }
.topButton { float:right; margin-right:20px; color:#ffffff; }
.topButton ul { margin-top:5px; }
.topButton ul li { float:left; }

/*菜单*/
.menuBar { height:24px; background-color:#cec9b0; overflow:hidden; border:none; }
.menuBar ul {  margin-left:120px; }
.menuBar ul li { float:left; line-height:24px; }

/*Bottom Banner*/
.bottomBanner { background-color:#888888; height:58px; }
.bottomBanner_logo { float:left; width:152px; margin-top:11px; margin-left:32px; }
.bottomBanner_logo ul li { float:left; }
.bottomBanner_text { float:left; margin-top:11px; font-size:13px; margin-left:33px;}
.bottomBanner_text ul { color:#fff; height:21px; }
.bottomBanner_text ul li { float:left; }
.bottomBanner_rights { margin-top:0px; color:#fff; font-size:10.5px; }

/*分页样式*/
.pageContainer { float:right; margin-top:50px; overflow:hidden;}
.pageContainer li { float:left; margin-left:20px;}

/*标题区*/
.mainContent {  }
.topicArea { margin-top:60px; margin-left:122px; overflow:hidden; }
.topicArea_box { width:10px; height:45px; background-color:#cec9b0; float:left; margin-top:5px;}
.topicArea_text { width:200px; height:50px; float:left; margin-left:10px; font-size:18px; }
.topicArea_text_en { color:#CCCCCC; font-weight:100; }

/*首页-主图区*/
.mainPic { background-image:url('../Images/mainPic.jpg'); overflow:hidden; }
.mainPic_left { float:left; width:688px; overflow:hidden; }
.mainPic_left ul { margin-top:238px; margin-left:70px; }
.mainPic_left ul li { float:left; }
.caseSearchDiv { background-image:url('../Images/magnifier.png'); width:357px; height:35px; background-repeat:no-repeat; background-position:325px 4px; background-color:white;  border:1px solid #8c8c8c;}
.caseSearchInput { width:348px; height:31px; border:none; margin-top:2px; margin-left:2px; outline:none; background:none; }
.mainPic_right { float:left; width:312px; overflow:hidden; height:1029px; background-image:url('../Images/right-bg.jpg'); background-repeat:no-repeat; }
.mainPic_right_home1 { margin-left:25px; margin-top:52px;  overflow:hidden; width:243px; }
.mainPic_right_home2 { margin-left:25px; margin-top:100px; }
.mainPic_right_home2Text { margin-top:20px; }
.mainPic_right_home2Text ul li { float:left; }

/*首页-信息区*/
.infoArea { width:1000px; height:466px; background-image:url('../Images/homeBackground.jpg'); background-repeat:repeat-y; overflow:hidden; }
.infoBox { width:244px; margin-top:30px; margin-left:50px; float:left; margin-right:36px; }
.infoEnTitle { color:#ffffff; font-size:15px; font-family:Arial; }
.infoCnTitle { color:#ffffff; font-size:16px; }
.infoPic { margin-top:15px; }
.infoProject { color:#ffffff; margin-top:15px; font-size:13px; font-weight:bold;}
.infoPerson { color:#ffffff; margin-top:1px; font-size:11px; font-style:italic; }
.infoText { color:#ffffff; margin-top:5px; font-size:12px; line-height:18px; }
#ipadUl {margin-top:150px; margin-left:30px;}
#ipadUl li{float:left;}

/*联系我们-内容区*/
.contactUs_content { margin-top:160px; width:500px; margin-left:auto; margin-right:auto; margin-bottom:190px; overflow:hidden;}
.contactUs_content ul { margin-left:20px; line-height:28px; }
.contactUs_content div { float:left; }

/*订单详情*/
.orderDetails_content { border:2px solid #e1e1e1; width:682px; margin-left:auto; margin-right:auto; margin-top:30px; padding:35px; margin-bottom:50px;  }
.orderDetails_ul { font-size:18px; overflow:hidden; }
.orderDetails_pic { border:5px solid #a78c2c; }
.orderDetails_case { margin-top:30px; float:left; }
.orderDetails_price { margin-top:30px; float:right; font-size:14px; color:#a78c2c; }
.moneyMark { font-size:12px; margin-left:5px; }
.orderDetails_money { font-size:18px; margin-left:5px; }
.orderDetails_class { margin-top:8px; float:left; color:#6b6a6a; *margin-top:-15px; }
.orderDetails_class_li { margin-top:8px; float:left; margin-left:10px; color:#6b6a6a; *margin-top:-15px; }
.orderDetails_class_li li {float:left; margin-right:4px;}
.orderDetails_className { color:#6b6a6a; float:left; margin-top:28px; }
.orderDetails_underline { color:#6b6a6a; margin-top:28px; border-bottom:1px solid #868686; float:left; width:500px; height:22px; }
.orderDetails_bill { color:#6b6a6a; float:left; margin-top:8px; }
.orderDetails_total { float:right; margin-top:30px; color:#a78c2c; font-size:14px; }
.orderDetails_text { float:right; margin-top:30px; margin-right:50px; font-size:14px; color:#a78c2c; line-height:24px; }
.orderDetails_buttonArea { margin-left:auto; margin-right:auto; width:180px; margin-top:50px; }
.orderDetails_button { height:30px; font-size:14px; border:none; background-color:#ddd2ab; }

/*案例动态*/
.news_content { margin-top:50px; width:400px; margin-left:auto;  margin-bottom:50px; margin-right:auto; overflow:hidden; }
.news_content_list { width:500px; margin-top:40px; }
.news_content_listItemA { padding:5px; padding-left:20px; background-color:#e2e2e2; }
.news_content_listItemB { padding:5px; padding-left:20px; background-color:#f7f7f7; }
.news_content_list_date { float:left; width:100px; color:#a98e2c; }
.news_content_list_text { float:left; width:300px; font-size:12px; }

/*案例详情*/
.newsDetail_content {margin:auto; margin-top:50px; margin-bottom:90px; width:755px;  }
.newsDetail_title { font-size:20px; color:#a78c2c; margin-left:auto; margin-right:auto;  text-align:center; }
.newsDetail_date { font-size:14px; margin-left:auto; margin-right:auto; text-align:center; margin-top:10px; }
.newsDetail_hr { border-bottom:1px solid #ccc; margin-left:auto; margin-right:auto; margin-top:20px;  }
.newsDetail_hr2 { border-bottom:1px solid #ccc; margin-left:auto; margin-right:auto; margin-top:0px;  }
.newsDetail_text {  margin-left:auto; margin-right:auto; line-height:30px; padding:30px;  text-align:justify; text-justify:inter-ideograph}
.newsDetail_text p { text-indent: 2em; }
.newsDetail_text_pic { margin-top:30px;  text-align:center; margin-bottom:30px; }
.newsDetail_text_picText { margin-top:10px; }
.newsDetail_other { font-size:20px; color:#a78c2c; margin-left:auto; margin-right:auto; margin-top:80px;  }
.newsDetail_other_left { font-size:20px; color:#a78c2c; margin-top:80px; }
.newsDetail_content ul { margin-left:auto; margin-right:auto; margin-top:20px;  line-height:30px; }

/*最新案例*/
.lastestCases_block { margin-bottom:80px;}
.lastestCases_content { margin-left:122px; margin-top:70px; width:1000px; }
.lastestCases_infoLeft { width:650px; float:left; }
.lastestCases_title { font-size:24px; color:black; }
.lastestCases_author { margin-top:10px; font-style:italic; }
.lastestCases_info { width:1100px; margin-top:50px; overflow:hidden; font-size:18px; color:#6b6a6a; }
.lastestCases_ul { margin-top:40px; line-height:30px; }
.lastestCases_infoItem { float:left; width:100px; }
.lastestCases_infoValue { float:left; width:200px; }
.lastestCases_ul2 { margin-top:40px; line-height:30px; width:600px; overflow:hidden; font-size:18px; color:#6b6a6a;}
.lastestCases_infoItem2 { float:left; width:100px; }
.lastestCases_infoItem2 ul li { float:left;}
.keyWordsFontStyle { color:#a58a2c; font-style:italic; }
.lastestCases_infoValue2 { float:left; width:500px; }
.lastestCases_infoRight { width:200px; float:left; }
.download { overflow:hidden;}
.download div { float:left;}
.lastestCases_note { margin-top:30px; }
.lastestCases_note_title { color:#a58a2c; font-size:19px; }
.lastestCases_note_text { line-height:33px; margin-top:10px; font-size:15px; }
.lastestCases_hr { width:100%; border:1px solid #a58a2c; margin-top:60px; margin-bottom:60px; }

/*案例搜索*/
.search_content { margin-left:122px; margin-top:70px; width:755px; margin-bottom: 80px; }
.search_criteriaTitle { float:left; width:100px; color:#a58a2c; margin-bottom:30px; }
.search_criteriaContent { float:left; width:990px;  margin-bottom:30px; line-height:25px;}
.checkBox {margin-top:5px;}
.search_list { overflow:hidden; }
.search_listDetail { float:right; margin-right:5px;}
.search_criteria_li {float:left; margin-right: 30px;}
.search_result { width:100%; text-align:center; margin-top:30px; margin-bottom:50px; }
.search_listBox { border-bottom:1px solid #020202; padding-left:30px; padding-bottom:10px; margin-bottom:30px; overflow:hidden; }
.search_book { float:left; padding-top:5px; }
.search_listContent { float:left; width:500px; margin-left:20px; color:#7f7e7e; line-height:30px; }
.search_listName { font-size:25px; color:black; margin-bottom:10px; }

/*案例学习*/
.study_content { margin-left:122px; margin-top:60px; width:878px; overflow:hidden; margin-bottom:60px; font-size:13px;}
.study_box { width:200px; float:left;  margin-right:19px; margin-bottom:20px; overflow:hidden; }
.study_unread { position:relative; top:-180px; left:95px; background-image:url('../Images/unreadFlag.png'); background-repeat:no-repeat; width:80px; height:54px; padding-left:30px; padding-top:5px; }
.study_read { position:relative; top:-180px; left:95px; background-image:url('../Images/readFlag.png'); background-repeat:no-repeat; width:80px; height:54px;  padding-left:30px; padding-top:5px;  }
.study_box ul { margin-top:-40px; line-height:25px; }
.study_hr {border-bottom:1px solid #ccc;  margin-top:10px; margin-bottom:40px; width:100%;}


/*案例知识*/
.knowledge_content { margin-left:122px; margin-top:70px; width:1000px; overflow:hidden; margin-bottom:60px; }
.knowledge_box { width:272px; float:left;  margin-right:30px; margin-bottom:60px; overflow:hidden;  }
.knowledge_box ul { margin-top:10px; line-height:25px;  }
.knowledge_box_pic { border-bottom:3px solid #a78c2c; }
.knowledge_box_title { width:280px; height: 60px; font-size:13px; }
.knowledge_box_name { color:#888; font-style:italic; width:300px; }
.knowledge_box_text { width:300px; height:150px; border-bottom:1px solid #a78c2c; border-top:1px solid #a78c2c; font-size:13px; padding-top:10px; padding-bottom:10px; }

/*案例知识详细页*/
.knowledgeDetail_content { margin-top:100px; margin-bottom:90px; width:755px; margin-left:auto; margin-right:auto;  }
.knowledgeDetail_text_pic { width:600px; margin-bottom:30px; }
.knowledgeDetail_title { font-size:30px; color:#a88d2c; margin-top:80px; }
.knowledgeDetail_author { font-size:20px; color:#6b6a6a; font-style:italic; margin-top:10px; margin-bottom:40px; }
.knowledgeDetail_hr { width:100%; border-bottom:1px solid #ccc; }
.knowledgeDetail_text { margin-left:auto; margin-right:auto; line-height:30px; padding:15px; color:#0e050a; text-align:justify; text-justify:inter-ideograph}
.knowledgeDetail_other { font-size:20px; color:#a78c2c;  margin-top:50px;  }
.knowledgeDetail_content ul {  margin-top:10px;  line-height:30px; }
#aboutConent a{margin-left:15px;}
.studyDetail_Pic {border:3px solid #a78c2c;}

/*个人中心*/
.myLibrary_content { margin-top:100px; margin-bottom:90px; width:755px; margin-left:auto; margin-right:auto;  }
.myLibrary_box { margin-bottom:40px; }
.myLibrary_boxTitle { width:100%; border-bottom:1px solid #ccc; color:#a88d2c; padding-bottom:10px; }
.myLibrary_box ul {padding-top:10px; overflow:hidden;}
.myLibrary_box ul li { float:left; height:15px;}
.myLibrary_date { width:150px; }
.myLibrary_casename { width:150px; }
.myLibrary_author { width:350px; }
.myLibrary_more { text-align:right; margin-top:20px; margin-right:60px; }
.myLibrary_button { width:50px; height:23px; border:none; background-color:#ddd2ab; line-height:23px; }

/*关于我们*/
.about_content { margin-top:100px; margin-bottom:100px; width:614px; margin-left:auto; margin-right:auto; }
.about_pic {overflow:hidden;}
.about_pic img { float:left; margin-right:7px;}
.about_text { margin-top:60px;}

 /*我要投稿*/
.submission_content { margin-top:100px; margin-bottom:100px; width:350px; margin-left:auto; margin-right:auto;  }
.submission_text { margin-top:60px; margin-left:auto; margin-right:auto;  line-height:28px; }
.submission_content ul { margin-top:30px; overflow:hidden; }
.submission_content ul li { float:left; }
.submission_icon { width:30px; text-align:center; margin-right:5px;}

/*我要合作*/
.coopertation_content { margin-top:100px; margin-bottom:100px; width:500px; margin-left:auto; margin-right:auto;  }
.coopertation_title { width: 80px; }
.coopertation_input { width: 400px;}
.coopertation_inputStyle { border:none; border-bottom:1px solid black; width:100%; height:20px; font-size:16px; }
.coopertation_content ul { margin-top:10px; overflow:hidden; }
.coopertation_content ul li { float:left; }
.coopertation_submit { background-image:url('../Images/submit.png'); width:100px; height:32px; border:none; }

.ui-corner-all { border-radius:unset; }
.ui-state-default {border:1px solid black; background:none;}
.ui-state-active {background-color:black;}
.lableOfCheckbox {width:12px; margin-top:-3px; margin-right:8px; height:12px;}